.App {
    text-align: center;

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    display: flex;
}

.App-link {
    color: #61dafb;
}

#socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px; 
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    color: #ffa2e0;
}

#socialMedia a {
    display: inline-block;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
    border-radius: 20%; /* Make the borders round around the icons */
    padding: 5px; /* Adds some space around the icons */
   
    border: 5px solid transparent; /* Make sure the background and border don't overlap */
}

#socialMedia a:hover {
    transform: scale(1.1); 
    opacity: 0.8;
}

#socialMedia img {
    width: 40px;
    height: 40px;
}
@media (max-width: 768px) {
    .App-main {
        font-size: 16px; /* Adjust text size */
        padding: 1px;
    }

    #socialMedia {
        gap: .5px;
        width: 90%;
    }

    #socialMedia img {
        width: 30px;
        height: 30px;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}
